form {
  margin-bottom: 30px;
}

.input {
  width: 100%;
  margin-bottom: 25px;
}

.input h4 {
  font-size: 20px;
  font-weight: 100px;
  margin-bottom: 8px;
}

.input input {
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(99, 99, 99);
  border-radius: 10px;
}

.reminder {
  width: 30%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.saveBtn {
  width: 100%;
  padding: 8px;
  border-radius: 10px;
  background: #000;
  color: #fff;
  cursor: pointer;
}

.saveBtn:hover {
  background: rgb(48, 48, 48);
}
